<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h3>=======App Component1=======</h3>
<h4>Hola Mundo</h4>
<hr>
<p>Bienvenidos a Angular</p>
<h3>============App Component2==========</h3>
<h4>{{title}}</h4> <!-- ctrl+(space), aparece ‘title’ -->
<h3>===============Contador=============</h3>
<h5>Counter: {{counter}}</h5>
<button (click)="increaseBy(1)">+1</button>
<button (click)="resetCounter()">Reset</button>
<button (click)="decreaseBy(1)">-1</button>
<h3>========App Counter Component=======</h3>
<app-counter></app-counter>
<h3>===App Counter Component Snippet====</h3>
<app-counter-snippet></app-counter-snippet>
<h3>========App Counter Standalone 1========</h3>
<app-counter-standalone></app-counter-standalone>
<h3>========App Counter Standalone 2========</h3>
<app-counter-standalone></app-counter-standalone>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
